{% extends 'base.html' %}
{% load static %}
{% block title %}Forget Password{% endblock title %}
{% block navbar_style %}
    <style>
        @media(max-width:994px){
            .resp{
                display: block;
            }
            .resp.active .bar:nth-child(2){
                opacity: 0;
            }
            .resp.active .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }
            .resp.active .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }

            .links-container{
                position: fixed;
                left: 200%;
                top: 70px;
                gap: 0;
                flex-direction: column;
                background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);
                width: 100%;
                text-align: center;
                transition: 0.3s;
            }
            .link-item{
                margin: 16px 0;
            }

            .links-container.active{
                left: 0;
            }
            .links-container{
                background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);
            }
        }
    </style>
{% endblock navbar_style %}
{% block body_id_name %}h-index{% endblock body_id_name %}

{% block header_content %}
{% if request.GET.m == "s" %}
    <div class="f-container" id="f-container">
        <p>
            Reset Link had sent <br>
            Please check your email inbox
            <a href="https://mail.google.com/mail/u/0/?ogbl#inbox" 
            style="text-decoration:none;color:#fff;"
            target="_blank"><i class="fas fa-inbox"></i></a>
            <style>
               .f-container a:hover{
                    font-size:35px;
                    color:#D2BC9C;
                    transition:0.5s ease-in all;
               } 
            </style>
        </p>  
    </div>
{% elif request.GET.m == "e" %}
<div class="f-container" id="f-container">
    <p >
        Reset Link had not sent <br>
        Something went wrong
    </p>  
</div>
{% else %}
<div class="f-container">  
    <form method="post">
        {% csrf_token %}
        <p class="fp">Please enter your email address to send code</p><br>
        <input type="email" name="email" placeholder="Email" class="fp-in" required><br>
        <input type="submit" value="Send" class="fl-btn"><br>
    </form>
    <div class="signup">
        Don't have an account? <a href="{% url 'deaf_undead:signup'%}">Sign up</a><br>
        Try to <a href="{% url 'deaf_undead:login'%}">login</a>
    </div>   
</div>
{% endif %}
{% endblock header_content %}

