{% extends 'base.html' %}
{% load static %}
{% block title %}Inspirational{% endblock title %}
{% block navbar_style %}
    <style>
        .navbar{
            position: fixed;
            background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);
        }
        @media(max-width:994px){
            .resp{
                display: block;
            }
            .resp.active .bar:nth-child(2){
                opacity: 0;
            }
            .resp.active .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }
            .resp.active .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }

            .links-container{
                position: fixed;
                left: 200%;
                top: 70px;
                gap: 0;
                flex-direction: column;
                background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);
                width: 100%;
                text-align: center;
                transition: 0.3s;
            }
            .link-item{
                margin: 16px 0;
            }

            .links-container.active{
                left: 0;
            }
            .links-container{
                background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);
            }
        }
    </style>
{% endblock navbar_style %}
{% block header_class_name %}ins-header{% endblock header_class_name %}
{% block header_content %}
    <div class="j-container">
        <img src="{% static '' %}img/page.png" alt="page">
    </div>
{% endblock header_content %}

