{% extends 'base.html' %}
{% load static %}
{% block title %}SignUp{% endblock title %}
{% block navbar_style %}
    <style>
        @media(max-width:994px){
            .resp{
                display: block;
            }
            .resp.active .bar:nth-child(2){
                opacity: 0;
            }
            .resp.active .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }
            .resp.active .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }

            .links-container{
                position: fixed;
                left: 200%;
                top: 70px;
                gap: 0;
                flex-direction: column;
                background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);
                width: 100%;
                text-align: center;
                transition: 0.3s;
            }
            .link-item{
                margin: 16px 0;
            }

            .links-container.active{
                left: 0;
            }
            .links-container{
                background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);
            }
        }
    </style>
{% endblock navbar_style %}
{% block body_id_name %}h-index{% endblock body_id_name %}

{% block header_content %}
<div class="us-container">
    <form action="" method="post" name="">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First name" class="sf-in" required>
        <input type="text" name="last_name" placeholder="Last name" class="sl-in" required><br>
        <input type="text" name="username" placeholder="Username" class="su-in" required><br>
        <input type="email" name="email" placeholder="Email" class="se-in" required><br>
        <input type="password" name="password" placeholder="Password" class="sp-in" required><br>
        
        <label class="d">
            <input type="radio" id="flexRadioDefault1" name="user_type" value="Deaf">
            <span class="r"></span>
            <p>Deaf</p> 
        </label>
        <label class="ud">
            <input type="radio" id="flexRadioDefault2" name="user_type" value="Undeaf">
            <span class="r"></span>
            <p>Undeaf</p> 
        </label>
        <input type="submit" value="Sign up" class="su-btn"><br>
    </form>
    <div class="login">
         Already have an account? <a href="{% url 'deaf_undead:login'%}">login</a>
    </div>    
</div>
{% endblock header_content %}

