<!DOCTYPE html>
<html lang="en">
<head>
    <title>SILENT PRESTO - {% block title %}{% endblock title %}</title>
    {% include "snippets/head.html" %}
    {% block navbar_style %}{% endblock navbar_style %}
    {% block external_css_files %}{% endblock external_css_files %}
</head>
<body id="{% block body_id_name %}{% endblock body_id_name %}" class="{% block body_class_name %}{% endblock body_class_name %}">
    {% include "snippets/navbar.html" %}
    <header id="{% block header_id_name %}{% endblock header_id_name %}" class="{% block header_class_name %}{% endblock header_class_name %}" >
       {% block header_content %}{% endblock header_content %}
    </header>
    {% block main_content %}{% endblock main_content %}
    <footer class="{% block footer_class_name %}{% endblock footer_class_name %}">
        {% block footer_content %}{% endblock footer_content %}
    </footer>
    {% include 'snippets/scripts.html' %}
</body>
</html>
