*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);
}
.body{
    display: flex;
    background: linear-gradient(98.22deg, #303A43 0%, #10161B 100%);
    width: 100%;
    height: 100px;
}
#body{
    display: flex;
    background: linear-gradient(98.22deg, #303A43 0%, #10161B 100%);
    width: 100%;
    height: 100px;
}
::-webkit-scrollbar {
    display: none;
}

/*nav*/

.navbar{
    display: flex;
    width: 100%;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    transition: .5s;
    z-index: 10;
    overflow: hidden;
    
}
.navbar.bg{
    background: linear-gradient(98.22deg, #303A43 0%, #10161B 100%);
}
.links-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style: none;
}
.name{
    color: #D2BC9C;
    font-size: 1.6em;
}
.name span{
    color: #86705a;
}
.link{
    position: relative;
    font-size: 20px;
    color: #D2BC9C;
    text-decoration: none;
    padding: 10px;
    opacity: 0.7;
    transition: .5s;
}
.link.active, .link:hover{
    opacity: 1;
}
.link-item a{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.link-item a::before {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    background: radial-gradient(100% 776.95% at 0% 0%, #D2BC9C 0%, #7C7066 100%);
    bottom: -7px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.link-item a:hover::before, .link.active::before, .link2.active::before{
    width: 100%;
}

ul li ul li a{
    display: block;
    padding: 20px 25px;
    color: #242c33;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
/* ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100px;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(98.22deg, #7C7066 0%, #D2BC9C 100%);
    position: fixed;
    right: 5px;
    margin-top: 20px;
    z-index: 999;
}
ul li #alarm.dropdown{
    min-width: 200px;
    min-height: 200px;
} */


.resp{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #D2BC9C;
}

/*gold nav*/





/*---------index---------*/

#h-index{
    background: url(../../static/img/hbg.png);
    background-size: cover;
}

.iheader{
    position: absolute;
    left: 13%;
    width: 40%;
    min-width: 320px;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.logo{
    position: relative;
    left: 5%;
    width: 80%;
    max-width: 400px;
}
@media(max-width:940px){
    #h-index{
        background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);;
    }
    .iheader{
        width: 100%;
        left: 15%;
        bottom: 15%;
    }
}
@media(max-width:500px){
    .iheader{
        width: 100%;
        left: 10%;
        top: 15%;
    }
}
.iheader h1{
    position: relative;
    text-align: center;
    font-size: 1.5em;
    width: 80%;
    max-width: 500px;
    margin-top: 2%;
    line-height: 40px;
    color: #ad9f8a;
}
.btn{
    position: relative;
    width: 80%;
    max-width: 500px;
    margin-top: 5%;
}
.conv-btn{
    width: 100%;
    height: 61px;
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border-radius: 20px;
    border: #987C55;
    color:#232B33;
    font-weight: bold;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor:pointer;
}
.conv-btn:hover{
    background: rgba(180, 166, 142, 0.2);
    border: 2px solid #bba585;
    color: #D2BC9C;
    font-weight: normal;
}
.btns{
    position:absolute;
    display: flex;
    width: 100%;
    margin-top: 15px;
}
.s-btn, .l-btn{
    position:absolute;
    width: 48%;
    height: 54px;
    background: rgba(180, 166, 142, 0.2);
    border: 2px solid #bba585;
    border-radius: 20px;
    color:#D2BC9C;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor:pointer;
}
.l-btn{
    right: 0%;
}
.s-btn:hover, .l-btn:hover{
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border: 0;
    color: #232B33;
}




/* ---------about---------*/

/*Header*/

.a-header{
    display: block;
    width: 100%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.a-container{
    position: absolute;
    width: 100%;
    height: 60%;
    min-height: 240px;
    top: 0px;
    border-radius: 0px 0px 320px 0px;
    background: radial-gradient(100% 776.95% at 0% 0%, #7C7066 0%, #D2BC9C 100%);
    box-shadow: 0px 3px 43px rgba(0, 0, 0, 0.73);
    z-index: -1;
}
.a-container img{
    position: absolute;
    right: 9%;
    top: 22%;
    width: 40%;
    min-width: 250px;
    max-width: 350px;
}
.a-title{
    position: absolute;
    left: 8%;
    top: 22%;
    font-weight:bolder;
    font-size: 44px;
    color: #232B33;
}
.about{
    position: absolute;
    left: 9%;
    top: 40%;
    width: 50%;
    height: 80%;
    max-width: 942px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Poppins';
    color: #232B33;
}
@media(max-width:900px){
    .about{
        width: 70%;
        font-size: 14px;
    }
    .a-container img{
        opacity: 0;
    }
    .a-container{
        border-radius: 0px 0px 190px 0px;
    }
    
}
@media(max-width:444px){
    .a-title{
        font-size: 35px;
    }
    .about{
        font-size: 14px;
    }
}
@media(max-width:320px){
    .a-container{
        border-radius: 0px 0px 190px 0px;
    }
    .a-title{
        font-size: 30px;
    }
    .about{
        font-size: 12px;
    }
}

/*Middle*/

.a-middle{
    position: absolute;
    display: block;
    width: 80%;
    height: 50%;
    top: 64%;
    left: 8%;
    z-index: -1;
}
.a-middle p{
    position: absolute;
    color: #D2BC9C;
    font-size: 34px;
}
.a-middle video{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 20%;
    border-radius: 20px;
}

@media(max-width:444px){
    .a-middle p{
        font-size: 25px;
    }
}
@media(max-width:320px){
    .a-middle p{
        font-size: 20px;
    }
}

/*Contact us*/

.a-footer{
    position: absolute;
    width: 80%;
    height: 90%;
    left: 8%;
    top: 100%;
    margin-top: 24%;
    z-index: -1;
}
.a-footer p{
    position: absolute;
    color: #D2BC9C;
    font-family: 'Poppins';
    font-size: 34px;
}
@media(max-width:870px){
    .a-footer p{
        font-size: 25px;
    }
}
@media(max-width:444px){
    .a-footer{
        margin-top: 1%;
    }
}
 
/*Form*/

.a-form{
    position: absolute;
    display: grid;
    width: 90%;
    height: 500px;
    top: 10%;
    left: 5%;
    background-color: #615a55;
    border-radius: 40px;
    z-index: -1;
}
#a-form{
    position: relative;
    padding: 2.3rem 2.2rem;
    overflow: hidden;
}
.a-form div{
    position: relative;
    margin: 1rem 0;
}

/*Inputs*/

.a-input{
    width: 100%;
    outline: none;
    border: 2px solid #998b7f;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}
textarea{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}
.a-label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #998b7f;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}
.m label{
    top: 1rem;
    transform: translateY(0);
}
.a-btn{
    position: absolute;
    width: 30%;
    min-width: 100px;
    max-width: 300px;
    height: 64px;
    bottom: 37px;
    right: 2rem;
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border: #987C55;
    color:#232B33;
    font-weight: bold;
    font-size: large;
    border-radius: 64px;
    cursor: pointer;
}
.a-btn:hover{
    background: rgba(180, 166, 142, 0.2);
    border: 2px solid #bba585;
    color: #D2BC9C;
    font-weight: normal;
}

/*Label*/

.a-form span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
.a-form span:before,
.a-form span:after{
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.4ms;
    height: 5px;
    background-color: #615a55;
    top: 50%;
    transform: translateY(-50%);
}
.a-form span:before{
    left: 50%;
}
.a-form span:after{
    right: 50%;
}
.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
}
.focus span:before,
.focus span:after{
    width: 50%;
    opacity: 1;
}




/*---------setting---------*/

/*Header*/
#navbar{
    position: fixed;
    background: linear-gradient(98.22deg, #7C7066 0%, #D2BC9C 100%);;
}
.s-header{
    position: absolute;
    display: flex;
    width: 90%;
    top: 20%;
    left: 10%;
    color: #998b7f;
}
.p-user{
    position: relative;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: left;
    line-height: 90%;
}
.p-user span{
    position: relative;
    font-size: 20px;
}
.p-btn{
    position: absolute;
    right: 10%;
    bottom: 0;
}
@media(max-width:500px){
    .s-header{
        justify-content: center;
    }
    .p-btn{
        top: 100%;
        width: 70%;
    }
}

.s-middle{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 250px;
}
.pass{
    margin-bottom: 20px;
    color: #998b7f;
    font-size: 30px;
    font-weight: bold;
}
.email{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: radial-gradient(100% 776.95% at 100% 0%, rgba(210, 188, 156, 0.34) 0%, rgba(124, 112, 102, 0.34) 100%);
    box-shadow: 0px 0px 35px -4px rgba(0, 0, 0, 0.73);
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0);
    padding: 9px 30px;
    color: #c0ae93;
    font-size: 20px;
    font-weight: lighter;
}

@media(max-width:500px){
    .s-middle {
        top: 400px;
    }
}

/*Button*/

#edit,#edit2{
    position: relative;
    width: 80%;
    height: 50px;
    left: 10%;
    margin-top: 20px;
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border: #987C55;
    color:#232B33;
    font-weight: bold;
    font-size: 22px;
    border-radius: 20px;
    cursor: pointer;
}
#edit:hover, #edit2:hover{
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.5));
}
#space{
    height: 10%;
}

/*Pop-up*/

#contact-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
#modal-content{
    background: linear-gradient(98.22deg, #303A43 0%, #10161B 100%);
    margin: 35px auto;
    width: 60%;
    height: 85%;
    max-height: 720px;
    border-radius: 40px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    color: #D2BC9C;
    font-weight: 400;
    overflow-y: scroll;
    animation-name: modalSlideUp;
    animation-duration: 0.5s;
}
.close-modal{
    color: #ffff;
    font-size: 50px;
    float: right;
}
.close-modal:hover{
    color: #D2BC9C;
    cursor: pointer;
}
#modal-body{
    padding: 25px 30px;
}
#modal-body h3{
    color: #D2BC9C;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    margin: 30px 0;
}
@media(max-width:444px){
    #modal-content{
        width: 80%;
        height: 90%;
    }
    #modal-body h3{
        font-size: 24px;
    }
}
.form-group{
    width: 75%;
    margin: 20px 0;
    margin-left: 12.5%;
}
.form-group label{
    display: block;
    margin-bottom: 10px;
    margin-left: -12%;
    font-size: 18px;
    color: #D2BC9C;
}
.form-group input{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: arial, sans-serif;
    outline: none;
}
.s-input[type='submit']{
    font-size: 20px;
    margin-bottom: 30px;
    width: 75%;
    margin-left: 12.5%;
    transition: background 0.3s;
    height: 64px;
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border: #987C55;
    color:#232B33;
    font-weight: bold;
    font-size: 22px;
    border-radius: 64px;
    cursor: pointer;
}
.s-input[type='submit']:hover{
    background: rgba(180, 166, 142, 0.2);
    border: 2px solid #bba585;
    color: #D2BC9C;
    font-weight: normal;
}
@keyframes modalSlideUp{
    0%{
        transform: translateY(1500px);
    }
    100%{
        transform: translateY(0);
    }
}






/*---------inspirational---------*/

#ins-nav{
    position: fixed;
    background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);
}
.ins-header{
    width: 100%;
    background-size: cover;
    display: flex;
}
.j-container img{
   position: relative;
   width: 100%;
   top: 68px;
   z-index: 1;
}




/*---------course/s---------*/

#body{
    display: flex;
    background: linear-gradient(98.22deg, #303A43 0%, #10161B 100%);
    width: 100%;
    height: 100px;
}

/*nav*/
#nav2{
    position: fixed;
}

/*Header*/

.c-header{
    position: absolute;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#c-header{
    width: 70%;
    left: 9%;
}
.c-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    top: 100px;
}
.c-container img{
    position: absolute;
    top: 10px;
    right: 15px;
}
.c-search{
    position: absolute;
    width: 100%;
    height: 40px;
    background: radial-gradient(100% 776.95% at 100% 0%, rgba(210, 188, 156, 0.34) 0%, rgba(124, 112, 102, 0.34) 100%);
    box-shadow: 0px 0px 35px -4px rgba(0, 0, 0, 0.73);
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 16px;
    color: #ffffffd5;
    outline: none;
}
.result{
    position: absolute;
    width: 70%;
    height: 50%;
    left: 15%;
    top: 25%;
    background: radial-gradient(100% 776.95% at 100% 0%, rgba(210, 188, 156, 0.34) 0%, rgba(124, 112, 102, 0.34) 100%);
    box-shadow: 0px 0px 35px -4px rgba(0, 0, 0, 0.73);
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 16px;
    color: #ffffffd5;
    outline: none;
}
.results{
    width: 90%;
    height: 60px;
    left: 5%;
    top: 8%;
    background: radial-gradient(100% 776.95% at 100% 0%, rgba(210, 188, 156, 0.34) 0%, rgba(124, 112, 102, 0.34) 100%);
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.73);
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0);
    text-align: left;
    font-size: 16px;
    color: #c9baa4;
    outline: none;
    padding: 5px 30px;
}
.results span{
    margin-left: 5px;
    opacity: 60%;
}
.results i{
    position: absolute;
    font-size: 25px;
    right: 15px;
    top: 16px;
    cursor: pointer;
}
.c-header p{
    position: absolute;
    width: 100%;
    max-width: 600px;
    height: 100px;
    top: 200px;
    text-align: center;
    color:#c0ae93;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;
}

/*courses*/

.courses{
    position: relative;
    display: flex;
    width: 90%;
    top: 350px;
    left: 5%;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
#c{
    top: 450px;
}
@media(max-width:444px){
    .c-header p{
        font-size: 35px;
    }
    #c{
        top: 420px;
    }
}
.grid{
    display: grid;
    height: 400px;
    width: 90%;
    max-width: 600px;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 4%;
}
#c-grid{
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.grid .course-card {
    position: relative;
    background: radial-gradient(100% 776.95% at 100% 0%, rgba(210, 188, 156, 0.34) 0%, rgba(124, 112, 102, 0.34) 100%);
    box-shadow: 0px 3px 35px -4px rgba(0, 0, 0, 0.73);
    border-radius: 12px;
    text-align: center;
    padding: 15px;
    color: #c0ae93;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.grid .course-card a{
    color: #303A43;
    font-weight: bold;
    text-decoration: none;
}
.favourite a:hover{
    
    color: #c0ae93;
}
.grid img{
    width: 90%;
    vertical-align: middle;
}




/*---------home---------*/

/*Header*/

#h-header{
    position: absolute;
    width: 100%;
    height: 60%;
}

/*H-left*/

.u-container{
    position: relative;
    width: 55%;
    height: 100%;
    border-radius: 0px 0px 300px 0px;
    background: #D2BC9C;
    box-shadow: 0px 3px 43px rgba(0, 0, 0, 0.73);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.user-container{
    position: relative;
    display: flex;
    width: 80%;
    top: 24%;
    margin-left: 20%;
    color: #232B33;
    align-items: center;
}
.user{
    margin-left: 6%;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}
.hedit{
    width: 50px;
    height: 34px;
    font-size: 20px;
    color: #232B33;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    background: radial-gradient(100% 776.95% at 0% 0%, #7C7066  0%, #D2BC9C 100%);
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.73);
    cursor: pointer;
}
.hedit:hover{
    background: radial-gradient(100% 776.95% at 0% 0%, #232B33  0%, #303A43 100%);
    color: #9e8e82;
}
.h-b{
    position: relative;
    width: 80%;
    top: 30%;
    margin-left: 20%;
    color: #172129;
}
.h-c, .h-f{
    position: relative;
    width: 40%;
    min-width: 170px;
    margin-top: 20px;
    height: 40px;
    font-size: 14px;
    color: #172129;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background: radial-gradient(100% 776.95% at 0% 0%, #7C7066  0%, #D2BC9C 100%);
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.73);
    cursor: pointer;
}
.h-c:hover, .h-f:hover{
    background: radial-gradient(100% 776.95% at 0% 0%, #232B33  0%, #303A43 100%);
    color: #9e8e82;
}
.h-c.select, .h-f.select{
    background: radial-gradient(100% 776.95% at 0% 0%, #232B33  0%, #303A43 100%);
    color: #9e8e82;
}

/*H-Right*/

.h-container{
    position: absolute;
    width: 40%;
    right: 0;
    top: 0;
    height: 100%;
}
.h-search{
    position: relative;
    width: 90%;
    left: 2%;
    top: 30%;
    color: #172129;
    cursor: pointer;
}
#h-search{
    position: absolute;
    right: 11px;
    top: 11px;
    font-weight: bold;
}
.h-search div{
    position: relative;
    width: 100%;
    height: 40px;
    background: radial-gradient(100% 776.95% at 100% 0%, rgba(210, 188, 156, 0.34) 0%, rgba(124, 112, 102, 0.34) 100%);
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.73);
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 16px;
    outline: none;
    cursor: text;
}
.friends, .course{
    position: relative;
    width: 90%;
    left: 2%;
    top: 35%;
    font-size: 24px;
    color: #ad9f8a;
    text-decoration: none;
}
.course a{
    color: #ad9f8a;
    text-decoration: none;
}
.friends ul{
    overflow-y: scroll;
    height: 200px;
}
.friends li, .course li{
    height: 52px;
    background: radial-gradient(100% 776.95% at 100% 0%, rgba(210, 188, 156, 0.34) 0%, rgba(124, 112, 102, 0.34) 100%);
    box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.73);
    border-radius: 12px;
    margin-top: 18px;
    padding: 11px 11px 11px 19px;
}
#m-r{
    position: relative;
    display: inline;
    font-size: 18px;
    padding: 3px 1px 1px 1px;
    width: 100%;
    text-align: right;
}
#message:hover, #remove:hover{
    cursor: pointer;
    color: #232B33;
}

/*Footer*/

.h-footer{
    position: absolute;
    width: 55%;
    bottom: 15%;
    left: 0;
}
.conv-btn2{
    position: relative;
    width: 80%;
    left: 10%;
    height: 61px;
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border-radius: 20px;
    border: #987C55;
    color:#232B33;
    font-size: 20px;
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor:pointer;
}
.conv-btn2:hover{
    background: radial-gradient(100% 776.95% at 0% 0%, #232B33  0%, #303A43 100%);
    color: #9e8e82;
}

/*Responsive*/
@media(max-width:790px){
    .u-container{
        border-radius: 0px 0px 200px 0px;
    }
}
@media(max-width:420px){
    .user-container{
        left: -40px;
    }
    .h-b{
        top: 100px;
    }
}
@media(max-width:530px){
    .u-container{
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 200px 0px;
    }
    .h-container{
        position: relative;
        width: 100%;
        left: 3%;
        top: 2%;
    }
    .h-footer{
        position: absolute;
        width: 60%;
        top: 65%;
    }
    .conv-btn2{
        position: relative;
        width: 100%;
        left: 30%;
        font-size: medium;
        height: 40px;
    }
}
@media(max-height:600px){
    #h-header{
        position: absolute;
        width: 100%;
        height: 80%;
    }
    .h-footer{
        top: 88%;
    }
}



/*---------Who---------*/

#h-who{
    background: url(../img/who.jpg);
    background-size: cover;
}
.quote2{
    position: absolute;
    width: 60%;
    max-width: 400px;
    left: 10%;
    top: 34%;
    font-size: 14px;
    font-family: monospace, 'Lucida Sans Unicode', Arial;
    font-style: oblique;
    line-height: 40px;
    text-align: center;
    color: #D2BC9C;
    z-index: -1;
}
@media(max-width:1200px){
    #h-who{
        background:  linear-gradient(98.22deg, #303A43 0%, #10161B 100%);
    }
    .quote2{
        left: 20%;
    }
}
.d-btn, .ud-btn{
    position: absolute;
    width: 100%;
    height: 61px;
    left: 0%;
    margin-top: 4%;
    background: rgba(180, 166, 142, 0.2);
    border: 2px solid #bba585;
    border-radius: 600px;
    color:#D2BC9C;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor:pointer;
}
.ud-btn{
    margin-top: 50px;
}
.d-btn:hover, .ud-btn:hover{
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border: 0;
    color: #232B33;
}




/*---------deaf & undeaf---------*/

#h-deaf{
    background: url(../img/deaf.jpg);
    background-size: cover;
}
#h-undeaf{
    background: url(../img/undeaf.png);
    background-size: cover;
}
@media(max-width:940px){
    #h-deaf{
        background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);;
    }
    #h-undeaf{
        background: linear-gradient(98.22deg, #10161B 0%, #303A43 100%);;
    }
}
.conv{
    position: absolute;
    width: 80%;
    max-width: 500px;
    left: 10%;
    top: 14%;
    height: 60%;
    align-items: center;
    justify-items: center;
    z-index: -1;
}

/*H icon*/

.conv-icon{
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 800px;
}
.icon{
    position: relative;
    width: 50px;
    height: 50px;
    left: 46%;
    background: #86705a;
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px; 
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.rec{
    position: relative;
    width: 100%;
    height: 50px;
    top: -9px;
    background: #86705a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px; 
    color: #ffffffe1; 
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

/*Box*/

.conv-box{
    position: relative;
    min-width: 300px;
    max-width: 800px;
    width: 100%;
    min-height: 300px;
    height: 90%;
}
#conv-box{
    background: radial-gradient(100% 776.95% at 100% 0%, #7c7066ef 0%, rgba(124, 112, 102, 0.678) 100%);;
    box-shadow: inset 0px -1px 27px rgba(0, 0, 0, 0.45);
    border-radius: 50px;  
}

.box{
    position: relative;
    width: 100%;
    height: 88%;
    background: radial-gradient(100% 776.95% at 100% 0%, #7c7066ef 0%, rgba(124, 112, 102, 0.678) 100%);
    box-shadow: inset 0px -1px 27px rgba(0, 0, 0, 0.45);
    border-radius: 50px;
}
#cam-btn{
    position: absolute;
    width: 80%;
    max-width: 700px;
    left: 5%;
    display: flex;
    justify-content: center;
}
.cam-btn{
    position: relative;
    width: 60px;
    height: 60px;
    top: 9px;
    background: #86705a;
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px; 
    color: #fff;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    padding: 7px;
    border: none;
}
.cam-btn:hover{
    background: rgba(214, 185, 137, 0.2);
}
.type{
    position:absolute;
    width: 86%;
    height: 9%;
    min-height: 40px;
    top: 90%;
    color: #ffffffcb;
    text-align: center;
    background: radial-gradient(100% 776.95% at 100% 0%, #7c7066ef 0%, rgba(124, 112, 102, 0.678) 100%);
    box-shadow: inset 0px -1px 27px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    outline: none;
}
.send{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0%;
    top: 90%;
    background: #86705a;
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    color: #fff;
    font-size: small;
}
.send:active{
    width: 44px;
    height: 44px;
}

/*F icons*/

.icons{
    position: absolute;
    left: 3%;
    top: 80%;
}
.mic-btn, .exit-btn, .hand-btn{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #86705a;
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px; 
    color: #fff;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    padding: 7px;
}
.exit-btn{
    top: 70px;
}

@media(max-width:500px){
    .icons{
        top: 85%;
    }
    .mic-btn, .exit-btn, .hand-btn{
        padding: 1px;
    }
    .mic-btn, .hand-btn{
        width: 45px;
        height:45px;
    }
    .mic-btn i,.hand-btn i{
        font-size:25px;
    }
    .exit-btn{
        width: 45px;
        height:45px;
        top: 50px;
    }
    .exit-btn i{
        font-size:25px;
    }
}
.hand-btn:hover, .mic-btn:hover, .exit-btn:hover{
    background: rgba(214, 185, 137, 0.2);
}




/*---------signup---------*/

.us-container{
    position: absolute;
    width: 80%;
    max-width: 500px;
    height: 80%;
    min-height: 520px;
    max-height: 660px;
    left: 10%;
    top: 14%;
    background: radial-gradient(100% 776.95% at 100% 0%, #7c7066be 0%, rgba(124, 112, 102, 0.404) 100%);
    box-shadow: 0px 3px 35px -4px rgba(0, 0, 0, 0.73);
    border-radius: 40px;
    z-index: -1;
    align-items: center;
    justify-items: center;
}

/*Inputs*/

input{
    border: 0;
}
.sf-in, .sl-in{
    position: absolute;
    width: 38%;
    max-width: 180px;
    height: 64px;
    top: 10%;
    background: rgba(255, 255, 255, 0.79);
    box-shadow: inset 0px 0px 10px 4px #C3BFBC;
    border-radius: 14px;
    text-align: center;
    color: rgba(41, 30, 24, 0.56);
    font-size: 18px;
    outline: none;
}
.sf-in{
    left: 10%;
}
.sl-in{
    right: 9%;
}
.su-in, .se-in, .sp-in{
    position:absolute;
    width: 81%;
    height: 64px;
    left: 10%;
    background: rgba(255, 255, 255, 0.79);
    box-shadow: inset 0px 0px 10px 4px #C3BFBC;
    border-radius: 14px;
    text-align: center;
    color: rgba(41, 30, 24, 0.56);
    font-size: 18px;
    outline: none;
}
.su-in{
    position: absolute;
    top: 23%;
}
.se-in{
    top: 36%;
}
.sp-in{
    top: 49%;
}

/*radio*/

.ud{
    position: absolute;
    top: 62%;
    right: 12%;
}
.d{
    position: absolute;
    top: 62%;
    left: 12%;
}
label{
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color:#c9c9c9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*radio color*/

label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.r{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    background-color: #7C7066;
}
label:hover input ~ .r {
    background-color: #ccc;
}
label input:checked ~ .r {
    background-color: #232B33;
}
.r:after{
    content: "";
    position: absolute;
    display: none;
}
label input:checked ~ .r:after {
    display: block;
}
label .r:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #D2BC9C;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*button*/

.su-btn{
    position: absolute;
    width: 81%;
    height: 64px;
    left: 10%;
    top: 72%;
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border: #987C55;
    color:#232B33;
    font-weight: bold;
    font-size: large;
    border-radius: 64px;
    cursor: pointer;
}
.su-btn:hover{
    background: rgba(180, 166, 142, 0.2);
    border: 2px solid #bba585;
    color: #D2BC9C;
    font-weight: normal;
}

/*Links*/

.login{
    position: absolute;
    top: 86%;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #fff;
}
.login a{
    color: #D2BC9C;
}




/*---------login & Change password---------*/

.l-container{
    position: absolute;
    width: 80%;
    max-width: 500px;
    height: 50%;
    max-height: 470px;
    min-height: 350px;
    left: 10%;
    top: 24%;
    background: radial-gradient(100% 776.95% at 100% 0%, #7c7066be 0%, rgba(124, 112, 102, 0.404) 100%);
    box-shadow: 0px 3px 35px -4px rgba(0, 0, 0, 0.73);
    border-radius: 40px;
    z-index: -1;
    align-items: center;
    justify-items: center;
}

/*Inputs*/

.lu-in, .lp-in{
    position: absolute;
    width: 81%;
    height: 64px;
    left: 10%;
    background: rgba(255, 255, 255, 0.79);
    box-shadow: inset 0px 0px 10px 4px #C3BFBC;
    border-radius: 14px;
    border: 0;
    text-align: center;
    color: rgba(41, 30, 24, 0.56);
    font-size: 18px;
    outline: none;
}
.lu-in{
    top: 14%;
}
.lp-in{
    top: 35%;
}

/*button*/

.ll-btn{
    position: absolute;
    width: 81%;
    height: 64px;
    left: 10%;
    top: 56%;
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border: #987C55;
    color:#232B33;
    font-weight: bold;
    font-size: large;
    border-radius: 64px;
    cursor: pointer;
}
.ll-btn:hover{
    background: rgba(180, 166, 142, 0.2);
    border: 2px solid #bba585;
    color: #D2BC9C;
    font-weight: normal;
}

/*Links*/

.signup{
    position: absolute;
    top: 79%;
    width: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 24px;
}
.signup a{
    color: #D2BC9C;
}




/*---------forget & Check---------*/

.f-container{
    position: absolute;
    width: 80%;
    max-width: 500px;
    height: 50%;
    max-height: 470px;
    min-height: 350px;
    left: 10%;
    top: 24%;
    background: radial-gradient(100% 776.95% at 100% 0%, #7c7066be  0%, rgba(124, 112, 102, 0.404) 100%);
    box-shadow: 0px 3px 35px -4px rgba(0, 0, 0, 0.73);
    border-radius: 40px;
    z-index: -1;
    align-items: center;
    justify-items: center;
}
#f-container{
    height: 20%;
    top: 34%;
    min-height: 150px;
}
#f-container p{
    position: relative;
    color: #C3BFBC;
    font-size: 24px;
    text-align: center;
    top: 16%;
}
.fp{
    position: absolute;
    width: 81%;
    height: 64px;
    left: 10%;
    top: 17%;
    color: #c9c9c9;
    font-weight: bold;
    font-size: 22px;
}
@media(max-width:500px){
    .fp{
        font-size: 19px;
    }
}

/*Inputs*/

.fp-in{
    position: absolute;
    width: 81%;
    height: 64px;
    top: 38%;
    left: 10%;
    background: rgba(255, 255, 255, 0.79);
    box-shadow: inset 0px 0px 10px 4px #C3BFBC;
    border: 0;
    border-radius: 14px;
    text-align: center;
    color: rgba(41, 30, 24, 0.56);
    font-size: 18px;
    outline: none;
}


/*button*/


.fl-btn{
    position: absolute;
    width: 81%;
    height: 64px;
    left: 10%;
    top: 59%;
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border: #987C55;
    color:#232B33;
    font-weight: bold;
    font-size: large;
    box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    cursor: pointer;
}
.fl-btn:hover{
    background: rgba(180, 166, 142, 0.2);
    border: 2px solid #bba585;
    color: #D2BC9C;
    font-weight: normal;
}

/*Links*/

.signup{
    position: absolute;
    top: 79%;
    width: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 24px;
}
.signup a{
    color: #D2BC9C;
}




/*---------reset password---------*/

.o-container{
    position: absolute;
    width: 80%;
    max-width: 500px;
    height: 60%;
    max-height: 470px;
    min-height: 350px;
    left: 10%;
    top: 24%;
    background: radial-gradient(100% 776.95% at 100% 0%, #7c7066be 0%, rgba(124, 112, 102, 0.404) 100%);
    box-shadow: 0px 3px 35px -4px rgba(0, 0, 0, 0.73);
    border-radius: 40px;
    z-index: -1;
    align-items: center;
    justify-items: center;
}

/*Inputs*/

.ou-in, .op-in, .oo-in{
    position: absolute;
    width: 81%;
    height: 64px;
    left: 10%;
    background: rgba(255, 255, 255, 0.79);
    box-shadow: inset 0px 0px 10px 4px #C3BFBC;
    border-radius: 14px;
    border: 0;
    text-align: center;
    color: rgba(41, 30, 24, 0.56);
    font-size: 18px;
    outline: none;
}
.oo-in{
    top: 14%;
}
.ou-in{
    top: 31%;
}
.op-in{
    top: 48%;
}

/*button*/

.ol-btn{
    position: absolute;
    width: 81%;
    height: 64px;
    left: 10%;
    top: 66%;
    background: linear-gradient(271.41deg, #D2BC9C 3.13%, #7C7066 96.67%);
    border: #987C55;
    color:#232B33;
    font-weight: bold;
    font-size: large;
    border-radius: 64px;
    cursor: pointer;
}
.ol-btn:hover{
    background: rgba(180, 166, 142, 0.2);
    border: 2px solid #bba585;
    color: #D2BC9C;
    font-weight: normal;
}


a.channel {
    color: inherit;
    text-decoration: none;
  }
  a.channel:hover {
    text-decoration: underline;
  }
  
  .title {
    color: var(--secondary);
    font-size: 15px;
    font-weight: bold;
  }
  .sub-title {
    color: var(--grey);
    font-size: 13px;
  }
  .icon-active {
    filter: sepia(100%) hue-rotate(150deg) saturate(400%);
  }
  
  
  #video-dis {
    flex: 6.5;
    margin-right: 20px;
    background: black;
  }
  #video-dis iframe {
    width: 100%;
    height: 100%;
  }
  .video-li {
    padding: var(--b-pad);
    border-radius: 3px;
    flex-direction: column;
    background: var(--primary);
  }
  .li-collapsed {
    overflow: hidden;
    height: 40px;
  }
  #vli-info {
   
    padding: 0 var(--b-pad) 0 var(--b-pad);
  }
  
  #upper-info {
    display: flex;
  }
  #li-titles div {
    padding-bottom: 5px;
  }
  
  #drop-icon {
   
    cursor: pointer;
    background: url(https://user-images.githubusercontent.com/50569315/118832584-92350500-b8e2-11eb-8398-9a90a4615b98.png)
      no-repeat center;
    background-size: 50%;
  }
  
  #lower-info {
    display: flex;
    padding-top: var(--b-pad);
  }
  #lower-info div {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  #btn-repeat {
    margin-right: var(--b-pad);
    background: url(https://user-images.githubusercontent.com/50569315/118832591-93663200-b8e2-11eb-8b98-3b177304b555.png)
      no-repeat left;
    background-size: 50%;
  }
  #btn-suffle {
    margin-right: var(--b-pad);
    background: url(https://user-images.githubusercontent.com/50569315/118832597-93fec880-b8e2-11eb-9146-f978064eddb1.png)
      no-repeat left;
    background-size: 45%;
  }
  #btn-save {
    margin-left: auto;
    order: 2;
    right: 10px;
    margin-right: var(--b-pad);
    background: url(https://user-images.githubusercontent.com/50569315/118832594-93fec880-b8e2-11eb-8201-12cb52be231f.png)
      no-repeat right;
    background-size: 60%;
  }
  
  #vli-videos {
    flex: 7;
    overflow: auto;
  }
  
  .video-con {
    display: flex;
    cursor: pointer;
    padding: var(--s-pad);
    column-gap: var(--s-pad);
    margin-bottom: var(--b-pad);
  }
  .video-con:hover,
  .active-con {
    background: var(--active);
  }
  .index {
    min-width: 15px;
    align-self: center;
  }
  .thumb {
    width: 100px;
    height: 60px;
    background: var(--secondary);
  }
  .thumb img {
    width: 100%;
  }
  .v-titles {
    flex: 6;
  }
  .v-titles div:nth-child(2) {
    margin-top: var(--s-pad);
  }
